@font-face {
  font-family: 'SuperBrain';
  src: url('/assets/fonts/Super-Brain.ttf') format('truetype');
}

@font-face {
  font-family: 'Gobold';
  src: url('/assets/fonts/Gobold-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Primary';
  src: url('/assets/fonts/SFProDisplay.OTF') format('truetype');
}

:root {
  /* Cores Primárias */
  --red-100: #ff2222;
  --red-80: #cc1a1a; /* Novo valor */
  --red-60: #990f0f; /* Novo valor */
  --blue-100: #6b75d1;
  --blue-80: #535bb3; /* Novo valor */
  --blue-60: #40438f; /* Novo valor */

  /* Cores Secundárias */
  --green-100: #1ced6b;
  --orange-100: #ff8e26;
  --purple-100: #7b5bbb; /* Novo valor */
  --pink-100: #ff6099;
  --yellow-100: #ffe812;
  --blue-secondary-100: #4e89ff;

  /* Cores Neutras */
  --black-100: #171616;
  --gray-80: #3d3d3d; /* Novo valor */
  --gray-60: #616161; /* Novo valor */
  --gray-40: #b3b3b3; /* Novo valor */
  --gray-20: #d9d9d9; /* Novo valor */
  --white-0: #ffffff;

  /* Cores de Alerta */
  --alert-red-100: #b71c1c; /* Novo valor */
  --alert-red-80: #ffd2d2;
  --alert-green-60: #2DAC3E;
  --alert-green-40: #1b5e20; /* Novo valor */
  --alert-green-20: #81c784; /* Novo valor */
  --alert-yellow-40: #fdd835; /* Novo valor */
  --alert-yellow-20: #fff59d; /* Novo valor */
}


* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

html {
  background: #ffffff;
}

html,
body {
max-width: 100vw;
overflow-x: hidden;
}

body {
  font-family: 'Primary';
  background: #ffffff;
}